# Example file - change the appropriate settings below and copy to a new file 'docker-compose.yml'
# To run front end apps you may need to provide URL aliases for the API and FRONTEND images (see README for details)

version: '2'
services:
  router:
    image: "digitalmarketplace/router:IMAGE_VERSION"
    ports:
      - "80:80"
    environment:
      - DM_USER_IPS=172.0.0.0/0
      - DM_DEV_USER_IPS=172.0.0.0/0
      - DM_ADMIN_USER_IPS=172.0.0.0/0
      - DM_FRONTEND_URL=http://frontend-apps
      - DM_API_URL=http://api
      - DM_SEARCH_API_URL=http://search-api
      - DM_ANTIVIRUS_API_URL=http://antivirus-api
      - DM_APP_AUTH=ZGV2LXVzZXI6cGFzc3dvcmQxMjM0NQ==
      - DM_DOCUMENTS_S3_URL=https://digitalmarketplace-dev-uploads.s3.amazonaws.com
      - DM_G7_DRAFT_DOCUMENTS_S3_URL=https://digitalmarketplace-dev-uploads.s3.amazonaws.com
      - DM_AGREEMENTS_S3_URL=https://digitalmarketplace-dev-uploads.s3.amazonaws.com
      - DM_COMMUNICATIONS_S3_URL=https://digitalmarketplace-dev-uploads.s3.amazonaws.com
      - DM_REPORTS_S3_URL=https://digitalmarketplace-dev-uploads.s3.amazonaws.com
      - DM_SUBMISSIONS_S3_URL=https://digitalmarketplace-dev-uploads.s3.amazonaws.com
      - DM_RATE_LIMITING_ENABLED=disabled
    command: >
      bash -c '
      sed -i -e "s/proxy_redirect/# proxy_redirect/g" /app/templates/_macros.j2 &&
      sed -i -e "s/www\.\*/localhost/g" /app/templates/www.j2 &&
      supervisord --configuration /etc/supervisord.conf
      '
