{% from "_macros.j2" import proxy_headers with context %}
{% from "_macros.j2" import prepare_trace_header_values with context %}
server {
    listen 80;
    server_name api.*;

    {{ prepare_trace_header_values() }}

    set $api_url {{ api_url|urljoin("/") }};
    location / {
        {% for dev_ip in dev_user_ips.split(",") %}
        allow {{ dev_ip }};
        {% endfor %}
        deny all;

        {{ proxy_headers() }}
        proxy_pass $api_url;
    }

    set $api_callbacks_url {{ api_url|urljoin("/callbacks") }};
    location /callbacks {
        {{ proxy_headers() }}
        proxy_pass $api_callbacks_url;
    }
}

server {
    listen 80;
    server_name search-api.*;

    {% for dev_ip in dev_user_ips.split(",") %}
    allow {{ dev_ip }};
    {% endfor %}
    deny all;

    {{ prepare_trace_header_values() }}

    set $search_api_url {{ search_api_url|urljoin("/") }};
    location / {
        {{ proxy_headers() }}
        proxy_pass $search_api_url;
    }
}

server {
    listen 80;
    server_name antivirus-api.*;

    {{ prepare_trace_header_values() }}

    set $antivirus_api_url {{ antivirus_api_url|urljoin("/") }};
    location / {
        {% for dev_ip in dev_user_ips.split(",") %}
        allow {{ dev_ip }};
        {% endfor %}
        deny all;

        {{ proxy_headers() }}
        proxy_pass $antivirus_api_url;
    }

    set $antivirus_api_callbacks_url {{ antivirus_api_url|urljoin("/callbacks") }};
    location /callbacks {
        {{ proxy_headers() }}
        proxy_pass $antivirus_api_callbacks_url;
    }
}
