server {
    listen 80;

    server_name *.cloudapps.digital;

    # pass these requests through to the nginx-prometheus-exporter
    location /_metrics {
        proxy_pass http://127.0.0.1:9113/metrics;
    }
}

# enable "stub status" endpoint for the nginx-prometheus-exporter to poll
server {
    listen 9112;

    allow 127.0.0.1;
    deny all;

    location /stub-status {
        stub_status;
        access_log off;
    }
}
