{% from "_macros.j2" import proxy_headers with context %}
server {
    listen 80;
    server_name www.*;
    root {{ static_files_root }};

    {% for user_ip in user_ips.split(",") %}
    allow {{ user_ip }};
    {% endfor %}
    deny all;

    set $frontend_url "{{ frontend_url }}";

    # Basic rate limiting
    # limit_req zone=dm_limit burst=40 nodelay;
    error_page 429 @too_many_requests;
    location @too_many_requests {
        add_header Retry-After 300 always;
        rewrite ^(.*)$ /too_many_requests.html break;
    }

    location /robots.txt {
        rewrite ^(.*)$ /robots_www.txt break;
    }

    location / {
        {{ proxy_headers () }}
        proxy_set_header Authorization "Basic {{ app_auth }}";

        proxy_pass $frontend_url;
    }

    location /admin {
        {% for admin_ip in admin_user_ips.split(",") %}
        allow {{ admin_ip }};
        {% endfor %}
        deny all;

        {{ proxy_headers () }}
        proxy_set_header Authorization "Basic {{ app_auth }}";

        proxy_pass $frontend_url;
    }
}
